{% load my_tags %}
<div class="field-container multi-select">
	
	<label for="{{field.id_for_label}}" class="form-label">{{field.name|title}}</label>
    <select name="{{ field.name }}" id="{{ field.id_for_label }}" multiple class="form-select">
		{% if tuple %}		
			{% for choice in choices|dictsort:1 %}
				<option value="{{choice.0}}" onclick="updateSelection(this)">{{choice.1|title}}</option>
			{% endfor %}
		{% else %}		
			{% for value, label in choices|dictsort:0 %}
				<option value="{{value}}" onclick="updateSelection(this)">{{label}}</option>
			{% endfor %}
		{% endif %}
    </select>

	{% if field.value %}
	<input type="hidden" name="pre-values" id="pre-values" value="{{field.value|clean_pre_values}}">
	{% endif %}	

	<div class="show-selection">
		<p>Current selection:</p>
		<ul class="{{field.id_for_label}}-selected-list">
		</ul>
		<p class="{{field.id_for_label}}-help-item-text hidden"> 💡 click an item to delete it from the selected list.</p>
	</div>
</div>