{% load my_tags %}
<dicl class="row " id="rated-list">
    {% for album in rated_albums %}
        {% spaceless %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xsm-6 rated-album">
            <img src="{{ album.img.url}}" alt="" class="mini-img">
            <div class="text">
                <a class="album-link" href="{% url 'album' pk=album.pk artist_slug=album.artist.slug album_slug=album.slug %}">{{album.name|title}}</a>
            <p>rated: <b>{{metalhead.votes|get_user_rate:album.id}}</b></p>
            </div>
        </div>
        {% endspaceless %}
    {% empty %}
    <span>
        {% if user == metalhead %}
        You haven't rate any album yet. click here to check out the <a href="{% url 'albums' %}">albums</a> availables.
        {% else %}
        This user hasn't rate any album yet.
        {% endif %}
    </span>
    {% endfor %}
</dicl>