.name-artist {
    display: flex;
    align-items: baseline;
}

.album-name {
    margin-right: 1rem;
}

.artist-name {
    margin-left: 1rem;
}

.album-container, .album-contrib {
    margin: 2rem 3rem;
}

.r-side {
    display: grid;
    grid-template-rows: 0.5fr 10fr
}

.album-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.img-cover-container {
    display: flex;
    justify-content: center;
}

.album-cover {
    width: 15rem;
}

.date {
    margin: 2rem 0 ;
}
a {
    text-decoration: none;
}
.sub-info {
    text-align: center;
    margin-bottom: 1.5rem;
}

.sub-list {
    list-style-type: none;
}

.sub-item {
    display: inline; 
    padding: 0.5rem;
    border: 3px solid black;
    border-radius: 10px;
    color: white;
    background-color: black;
    text-align: center;
}

.other-album-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-left: 0.5rem;
}


/* album list styles */
.main-container {
    margin: 2rem 4rem;
}

.mini-pre-album {
    display: inline;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.list-album-name {
    max-height: 2rem;
    text-align: center;
}

.cover-container {
    margin: 3rem 0 1rem 0;
}
.single-album {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.hidden-element {
    display: none;
}

.your-rating, .rate-this-album{
    margin-bottom: 1rem;
}

.rate-this-album form{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.input-container {
    margin: 0 1rem;
}

.help-text {
    font-weight: bolder;
}