{% extends 'base.html' %}
{% load static %}
{% load my_tags %}
{% block css_file %}
    <link rel="stylesheet" href="{% static 'album.css'%}">
{% endblock css_file %}
{% block js_file %}
    <script src="{% static 'fnct.js' %}"></script>
{% endblock js_file %}

{% block title %}{{album.name|title}} - {{album.artist.name|title}} {% endblock title %}

{% block content %}
<div class="album-container row">
    <div class="l-side col-md-6">
        <div class="name-artist">
            <h3 class="album-name">{{album.name|title}}</h3> <span>by </span>
            <h4 class="artist-name"><a href="{% url 'artist' pk=album.artist.id slug=album.artist.slug %}">{{album.artist|title}}</a></h4>
        </div>
        
        {% if user.is_staff %}
            <p><a href="{% url 'edit-album' pk=album.id %}">Edit</a></p>
        {% endif %}
        
        <div class="rating-container">
            <h6>rating: <b>{{album.rating|divide:album.n_votes|floatformat}}</b></h6>
            <h6 class="n-votes">Total votes: <b>{{album.n_votes}}</b></h6>
        </div>
        {% if user.is_authenticated %}
            <div class="your-rating">
                {% if user.votes|has_voted:album.id %}                
                    <h6>Your rating is: <b>{{user.votes|get_user_rate:album.id}}</b></h6>
                    <button type="button" onclick="showToChange()" id="change-vote" class="btn btn-secondary">Change your vote</button>
                    <button type="button" onclick="showToChange()" id="keep-vote" class="hidden-element btn btn-danger">Cancel</button>
                {% else %}
                    <button type="button" onclick="showToAdd()" id="add-vote" class="btn btn-secondary">Rate this album</button>
                    <button type="button" onclick="showToAdd()" id="dont-vote" class="hidden-element btn btn-danger">Cancel</button>
                {% endif %}                
            </div>
        {% else %}
        <div class="action-to-rate">
            <p>If you want to rate this album <a href="{% url 'log-in' %}">Log in</a> or <a href="{% url 'register' %}">Register</a> if you don't have an account</p>
        </div> 
        {% endif %}
    
        <div class="rate-this-album hidden-element" id="rate_form">
            {% include "form/fav_forms/rating_form.html" %}
        </div>
        <div class="img-cover-container">
            <img src="{{album.img.url}}" alt="{{album.name|title}}" class="album-cover">
        </div>
        <div class="date">
            <h5> First released on: {{album.released_date}}</h5>
        </div>
    </div>
    
    <div class="r-side col-md-6">
        <div class="info"><h3>Information</h3></div>
        <div class="album-info">
            <div class="other-albums-artist">
                {% if album.artist.albums.all|length > 1 %}
                <h5>other albums from this artist</h5>
                    <ul>
                        {% spaceless %}
                        {% for other_album in album.artist.albums.all  %}
                        {% if other_album.name != album.name %}
                        <li>
                            <div class="other-album-container">
                                <div class="another-link-container">
                                    <a href="{% url 'album' pk=other_album.pk artist_slug=other_album.artist.slug album_slug=other_album.slug %}">
                                        {{other_album.name|title}}
                                    </a>
                                </div>
                                <div class="another-img-container">
                                    <img src="{{other_album.img.url}}" alt="{{other_album}}" class="other-album-img">
                                </div>
                            </div>                            
                        </li>
                        {% endif %}
                    {% endfor %}
                        {% endspaceless %}     
                    </ul>
                {% else %}
                <h6>No other album from this artist.</h6>
                {% endif %}
            </div>
            <div class="tracks">
                <span>Total Tracks: </span>
            </div>

            <div class="main-genre">
                <span>Artist main genre: <b>{{album.artist.genre|title}}</b></span>
            </div>
            <div class="artist-subgenres">
                <p class="sub-info">Metal subgenre that this album may contain:</p>
                <ul class="sub-list ">
                    {% for subgenre in album.artist.subgenres %}
                    <li class="sub-item">{{subgenre|title}}</li>
                    {% empty %}
                    <li> No subgenres available</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="album-age">
                <span>Album released: {{album.released_date|timesince}} ago</span>
            </div>
        </div>
    </div>   
</div>

<div class="album-contrib row">
    {% for contrib in album.contributors.all %}
    <div class="single-contrib col">
        <h4><a href="{% url 'member' pk=contrib.member.id slug=contrib.member.slug %}">{{ contrib.member }}</a></h4>
        <div class="personal-img">
            <img
            {% if contrib.member.img %} src="{{contrib.member.img.url}}" {% else %} src=""  {% endif %}
            alt="{{contrib.member}}" class="member-pic">
        </div>
        <div class="contribs">
            <ul>
                {% for role in contrib.roles.all %}
                <li>{{ role|title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}



