{% extends 'base.html' %}
{% load static %}
{% block css_file %}
    <link rel="stylesheet" href="{% static 'member.css' %}">  
    <link rel="stylesheet" href="{% static 'search.css'%}">
{% endblock css_file %}

{% block js_file %}
    <script src="{% static 'fnct.js' %}"></script>
    <script src="{% static 'search.js' %}"></script>
{% endblock js_file %}
{% block title %}All band members{% endblock title %}
{% block content %}
<div class="main-container">
    {% include "my_app/search_optn.html" with target="all-groups-members" %}

    {% if key_search %}
        <p>{{key_search|length}} {% if key_search|length > 1 %} results {% else %} result{% endif %} found</p>
        {% for member in key_search %}
        <div class="member-container col-lg-4 col-sm-6">
            <h3><a href="{% url 'member' pk=member.id slug=member.slug %}">{{member}}</a></h3>
            <img
            {% if member.img %} src="{{member.img.url}}" {% else %} src=""  {% endif %}
            alt="{{member}}" class="member-pic">
            {% if member.active_on.all %}
                <h5>Active group: </h5>
                {% for group in member.active_on.all %}
                    <h6><a href="{% url "artist" pk=group.pk slug=group.slug %}">{{group.name|title}}</a></h6>
                {% endfor %}
            {% endif %}
            {% if member.former_on.all %}
                <h5>Former group: </h5>
                {% for group in member.former_on.all %}
                    <h6><a href="{% url "artist" pk=group.pk slug=group.slug %}">{{group.name|title}}</a></h6>
                {% endfor %}
            {% endif %}

        </div>
        {% endfor %}
    {% endif %}


    <div class="member-list-container row">
        {% for member in members %}
        <div class="member-container col-lg-4 col-sm-6">
            <h3><a href="{% url 'member' pk=member.id slug=member.slug %}">{{member}}</a></h3>
            <img
            {% if member.img %} src="{{member.img.url}}" {% else %} src=""  {% endif %}
            alt="{{member}}" class="member-pic">
            {% if member.active_on.all %}
                <h5>Active group: </h5>
                {% for group in member.active_on.all %}
                    <h6><a href="{% url "artist" pk=group.pk slug=group.slug %}">{{group.name|title}}</a></h6>
                {% endfor %}
            {% endif %}
            {% if member.former_on.all %}
                <h5>Former group: </h5>
                {% for group in member.former_on.all %}
                    <h6><a href="{% url "artist" pk=group.pk slug=group.slug %}">{{group.name|title}}</a></h6>
                {% endfor %}
            {% endif %}

        </div>
        {% endfor %}
    </div>
</div>



{% endblock content %}

