body {
    margin: 0;
}
.massages-container {
    text-align: center;
    margin-top: 1rem;
}
.messages {
    list-style: none;
}
.success {
    color: green;
    font-weight: bolder;
    font-size: 1.25rem;
}

.form-container {
    margin: 5rem 15%;
}

.form-label, .form-select {
    padding-left: 0.5rem;
}

button {
    margin-top: 2rem;
}