{% extends 'base.html' %}
{% load static %}
{% block js_file %}
    <script src="{% static 'form.js' %}"></script>
{% endblock js_file %}
{% block css_file %}
    <link rel="stylesheet" href="{% static 'app_management/css/add_album.css' %}">
{% endblock css_file %}

{% block title %}Add new member{% endblock title %}

{% block content %}
    <div class="form-container">
        {% include 'form/base_form.html' with submit_msg="Add Member" %}
    </div>

    <script>
        $(document).ready(() =>{
            $("#id_nickname").removeAttr("required")
        })
    </script>
{% endblock content %}