{% extends 'base.html' %}
{% load static %}
{% block css_file %}
    <link rel="stylesheet" href="{% static 'app_management/css/add_artist.css' %}">
{% endblock css_file %}
{% block js_file %}
    <script src="{% static 'form.js' %}"></script>
{% endblock js_file %}
    

{% block title %}Add New Artist{% endblock title %}

{% block content %}
<div class="wrapper">
    <div class="header">
        <h2>Add new artist</h2>
        <div class="found-artist-section">
            <h4 id="artist-found">Artist already exist</h4>
            <h6 class="found-info">take a look <a href="" id="found_pk">here</a></h6>
        </div>
        <input type="hidden" value="{% url 'artist-checher' %}" id="endpoint">
    </div>
    <div class="form-container">
        {% include "form/multi_form.html" with submit_msg="Add New Artist"  %}
    </div>
</div>
{% endblock content %}