.msg {
    margin-top: 1rem;
    text-align: center;
}

.form-helper {
    margin-left: 1.75rem;
}

.error-span {
    color: brown;
    font-weight: bold;
}

.ok-span {
    color: green;
    font-weight: bold;
}

.errorlist {
    list-style: none;
    color: brown;
    font-weight: bold;
    margin: 0;
}