{% extends "base.html" %}
{% load static %}
{% load my_tags %}
{% block css_file %}
    <link rel="stylesheet" href="{% static 'app_management/css/forms_style.css' %}">
{% endblock css_file %}
{% block js_file %}
    <script src="{% static 'form.js' %}"></script>
{% endblock js_file %}
    
{% block title %}Edit - {{form.name.value|title}} {% endblock title %}

{% block content %}
    <div class="form-container">
        {% include "form/multi_form.html"  with submit_msg="Save Changes" subgenres=True %}
    </div>

{% endblock content %}

